.site-header__search .icon-search{
	font-size: 24px;
}

.site-header__search button.btn{
	padding: 2px 3px;
}

.site-header__search .input-group-field{
	font-size: 0.8rem;
	color: white;
	background-color:#666;
	padding: 0 5px;
	height: 24px;
	margin: 10px 2px;
	border: none;
	font-family: $lightfontstack;
}

.site-header__search input:hover,.site-header__search input:active{
	background-color: #666;
}


.slick-dotted.slick-slider{
	background:transparent;
}

.slick-track{
	background:white;
}

div.slick-list{
	overflow:visible;
}

button.slick-arrow{
	display:none;
	visibility:hidden;
}

section.slider{
	margin: 50px 0;
	height: auto;
}

ul.slick-dots{
	visibility:hidden;
}

.slick-slide img{
	max-height: 400px;
}

@media screen and (min-width: 40em)
{
	.column, .columns{
		padding-left: 0;
		padding-right: 0;
	}

	.information-section{
		padding: 5px;
		font-family: 'Neutratext Light';
	}

	.information-section
	{
		h1{
			font-size: 1.4rem;
		}

		p{
			font-size: 1.2rem;
		}
	}
}





.information-section{
	border: solid 10px $green;
	border-right: 0;
	border-left: 0;
	background: url(#{'{{ "infosection.jpg" | asset_url }}'});
	text-align: center;
	padding: 57px 131px;
	font-family: 'Neutratext Light';
}

.information-section 
{
	h1{
		font-family: 'Neutratext Light';
		font-size: 2.7rem;
		color: $green;
	}

	h1 span{
		color: $wwhite;
	}

	p{
		font-family: 'Neutratext Light';
		font-size: 1.7rem;
		color: $ewhite;
	}

	.wrapper .grid__item > button {
		min-height: 100px;
		display: inline-block;
		width: 258px;
	}

	.wrapper .grid__item > button:active{
		position: relative;
		top: -1px;
	}
	
	button#info_shop{
		background:url(#{'{{ "shopnow.png" | asset_url }}'}) center center no-repeat;
	}
	button#info_upload{
		background:url(#{'{{ "upload.png" | asset_url }}'}) center center no-repeat;
	}

	#info_key_search{
		display: inline-block;
	}

	form {
		margin: 20px 10px 0 -15px;
		border: 5px solid #666;
		padding: 8px 10px;
		background: $greenback-trans;
	}

	form button{
		background: transparent;
		font-size: 1.9rem;
		padding: 0 10px 0 0;
		margin-right: 10px;
	}

	form input{
		background: $greenback;
		color: white;
		font-size: 1.3rem;
		border:none;
	}

	form input:active, form input:hover{
		background: $greenback;
		color: white;
	}

}


#info_key_search input:active, #info_key_search input:hover, #info_key_search input:focus{
	background: $greenback;
	color: white;
}


.shirtdiv{
	background: white;
	border-radius: 10px;
	padding: 5px;
	margin: 10px 10px;
	display: block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shirtdiv{
	p.h6{
		text-align: center;
		margin-bottom: 1rem;
	}
	hr.greenhr{
		border-color: $green;
		margin: 20px 0 10px;
	}
	.grid__image{
		margin: 0;
		min-height: 300px;
		max-height: 400px;
		line-height: 350px;
	}

	.grid__image img{
		display: inline-block;
		margin: auto;
		vertical-align: middle;
	}

	.vendor-image{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: inline-block;
		vertical-align: sub;
	}

	.vendor-desc{
		display: inline-block;
	}

	.vendor-desc p{
		margin-bottom: 0;
		color: $green;
	}
	.vendor-t1{
		font-size: $vendor-t1;
		font-weight: bold;
	}
	.vendor-t2{
		font-size: $vendor-t2;
	}
}



span.grayspan{
	color: darkgray;
}	

span.whitespan{
	color: $wwhite;
}

span.greenspan{
	color: $colorPrimary;
}

.section-header__title span{
	font-size: 1rem;
}

.text-green{
	color: $green;

	a{
		color: $green;	
	}
}

.text-primary{
	color: $colorPrimary;

	a{
		color: $colorPrimary;	
	}
}

.text-gray{
	color: darkgray;

	a{
		color: darkgray;	
	}
}

.category-li li{
	padding: 0 20px;
	margin-left: -20px;
	margin-right: 50px;
}

.category-li li a{
	color: #666666;
}

.category-li li, .category-li li *{
	font-family: $lightfontstack;
	font-size: 17px;
}


#sortlabel{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

/*collection*/
.template-collection .main-content{
	padding: 30px 0;
	background: white;
}

.category-li li.filter--active{
	background-color: $ligreenback;
	border-radius: 10px;
	color: $list-active-color;

	a{
		color: $list-active-color;
	}

	#statelist li a{
		color: $white;

		span{
			color: $list-active-color;
		}
	}
}

#statelist{
	position:absolute;
	overflow: auto;
	height: 300px;
	background-color: $ligreenback;
	max-width: 250px;
	padding: 30px 0;
	margin-top: -28px;
	margin-left: 150px;
	display: none;
	ul{
		padding-left: 0;
	}
	ul li{
		color: $white;
		margin-right: 0;
		font-size: 15px;
	}
	ul li span{
		color: $list-active-color;
	}
}