@media screen and (max-width: 40em)
{
	.information-section{
		padding: 5px;
		font-family: 'Neutratext Light';
	}

	.information-section
	{
		h1{
			font-size: 1.4rem;
		}

		p{
			font-size: 1.2rem;
		}
	}
}


 @include at-query ($max, $medium) {
	.site-nav--mobile{
		button.site-nav__link{
			margin-left: 30px;
			font-size: 20px;
		}	
		span.icon-fallback-text{
			font-size: 20px;
		}
	}

	.grid-uniform{
		margin-left:0;
	}

	.category-li li{
		margin-left: 0;
	}

}


@media screen and (min-width: 768px) and (max-width: 1200px)
{
	#logoupnav{
		width: 23%;
		transform: translateY(-10%);

		.site-header__logo{
			margin-top: 0px;
		}

		.site-header__logo-link img{
			width: 100%;
		}
	}

	#accessupnav{

		width: 74%;
		max-height: 45px;

		#AccessibleNav li.grid__item {
			font-size: 16px;
		}

		.upload_design_nav{
			max-width: 200px;
			margin-left: 30px;
		}
	}
	 
}

@media screen and (max-width: 900px)
{
	

	#AccesibleNav{
		margin-left: 10px;
	}

	#accessupnav{

		max-height: 40px;

		form.search-bar input.input-group-field{
			max-width: 120px;
			margin-left: 15px;
		}

		li.grid__item a.site-nav__link {
			padding: 5px 3px;
		}

		span.icon-search {
			display: none;
		}

	}
	
}
