<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% comment %}
  Homepage Slide Carousel
{% endcomment %}
{% if settings.slider_home_show %}
  {% include 'home_carousel' %}
{% endif %}

{% comment %}
  Information Section
{% endcomment %}

<section class="information-section">
  <h1>SHOW YOUR PRIDE.&nbsp;&nbsp;DISPLAY YOUR TALENTS.&nbsp;&nbsp;<span>REP YOUR CITY</span></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui to officia deserunt.</p>
  <div class = "grid wrapper">
    <div class="grid__item large--one-third">
      <button id="info_shop" class="grid__item large--one-third"></button>
    </div>
    <div id="info_key_search" class="grid__item large--one-third">
      <form action="/search" method="get" class="input-group search-bar" role="search">
        {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
        <span class="input-group-btn">
          <button type="submit" class="btn icon-fallback-text">
            <span class="icon icon-search" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </span>
          <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholderr' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholderr' | t }}">
      </form>
    </div>
    <div class="grid__item large--one-third">
      <button id="info_upload" class="grid__item large--one-third"></button>
    </div>
  </div>
</section>

<section class="wrapper">

  <h3><span class="whitespan">WHAT'S NEW</span> <span class="grayspan">/ WHAT'S HOT</span></h3>
  {% comment %}
    Use class grid-uniform to have evenly sized columns clear
    each other properly at each breakpoint.
  {% endcomment %}
  <div class="grid-uniform">

    {% comment %}
      Loop through products in your Frontpage collection.
      This collection is created by default, but you must add products to it.
    {% endcomment %}
    {% for product in collections.frontpage.products limit:12%}

      {% assign grid_item_width = 'large--one-quarter medium--one-half' %}
      {% include 'product-grid-item' %}

    {% endfor %}

  </div>
</section>